.logo-header {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--blue);
  display: flex;
  align-items: center;

  > img {
    width: 53px;
    height: 48px;
    margin-right: .4rem;
  }
}

header {
  position: fixed;
  z-index: 100;
  background-color: var(--white);
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  width: 100%;

  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;

  > li a {
    border-bottom: 2px solid transparent;
    transition: all 0.2s ease 0s;
    font-size: 0.875rem;

    &:hover {
      border-bottom: 2px solid var(--blue);
    }
  }
}

