main {
  background-color: var(--white);

  > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
    padding-bottom: 6rem;
  }

  .text-main {
    > h1 {
      font-size: 4.75rem;
      font-weight: 600;
      line-height: 90%;
    }

    > p {
      margin: 1rem 0 2rem;
      font-size: 1.125rem;
    }
  }
}

.img-main img {
  width: 350px;
  transition: .3s;

  &:hover {
    scale: 1.05;
  }
}
